<ion-header>
  <ion-toolbar *ngIf="uneIntervention">
    <ion-title>Interventions de {{uneIntervention.prenom}} {{uneIntervention.nom}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-button (click)="retour()">Retour</ion-button>
  <ion-button (click)="appelerModalAjouterAnimal()">Ajouter un animal</ion-button>
  <ion-list *ngIf="uneIntervention && listeTypeInterventions">
    <ion-item *ngFor="let uneIntervention of listeInterventions">
      <ion-label>Nom : {{uneIntervention.nom}}</ion-label>
      <ion-label>Date de naissance : {{uneIntervention.dateNaissance}}</ion-label>
      <ion-label>Type d'animal : {{obtenirTypeAnimal(uneIntervention.idTypeAnimal)}}</ion-label>
      <ion-button (click)="supprimerAnimal(uneIntervention)">Supprimer</ion-button>
    </ion-item>
  </ion-list>
  <ion-label *ngIf="listeInterventions && listeInterventions.length === 0">Aucun animal</ion-label>

</ion-content>
