<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card (keyup.enter)="ajouterAnimal()">
    <ion-card-header>
      <ion-card-title>Ajouter un Animal</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nom</ion-label>
        <ion-input [(ngModel)]="unAnimal.nom"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label>Type</ion-label>
          <ion-select name="typeAnimal">
            <ng-container *ngFor="let unTypeAnimal of listeTypeAnimaux">
              <ion-select-option [value]="unTypeAnimal.id" name="chepo" ngDefaultControl [(ngModel)]="unAnimal.idTypeAnimal">{{unTypeAnimal.animal}}</ion-select-option>
            </ng-container>
          </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Date de naissance</ion-label>
          <ion-datetime [(ngModel)]="dateNaissance"></ion-datetime>
      </ion-item>
    </ion-card-content>
    <ion-button (click)="ajouterAnimal()">Ajouter l'animal</ion-button>

  </ion-card>

</ion-content>
