<ion-header>
  <ion-toolbar>
    <ion-title>ajouterAnimal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card (keyup.enter)="ajouterAnimal()">
    <ion-card-header>
      <ion-card-title>Ajouter un unAnimal</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nom</ion-label>
        <ion-input [(ngModel)]="unAnimal.nom"></ion-input>
      </ion-item>
      <ion-dropdown>
        <ion-label>Type</ion-label>

        <ion-select  [(ngModel)]="unAnimal.idTypeanimal">
          <ng-container *ngFor="let unTypeAnimal in listeTypeAnimaux">
            <ion-select-option [value]="unTypeAnimal.idTypeanimal">{{unTypeAnimal.animal}}</ion-select-option>
          </ng-container>
        </ion-select>
      </ion-dropdown>
      <ion-item>
        <ion-label position="floating">Date de naissance</ion-label>
        <ion-input [(ngModel)]="unAnimal.dateNaissance"></ion-input>
      </ion-item>
      <ion-item>
      </ion-item>
    </ion-card-content>

  </ion-card>

</ion-content>
