<ion-header>
  <ion-toolbar *ngIf="unClient">
    <ion-title>Animaux de {{unClient.prenom}} {{unClient.nom}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
<ion-button (click)="retour()">Retour</ion-button>
  <ion-button (click)="appelerModalAjouterAnimal()">Ajouter un animal</ion-button>
  <ion-list *ngIf="unClient && listeTypeAnimaux">
    <ion-item *ngFor="let unAnimal of listeAnimaux">
      <ion-label>Nom : {{unAnimal.nom}}</ion-label>
      <ion-label>Date de naissance : {{unAnimal.dateNaissance}}</ion-label>
      <ion-label>Type d'animal : {{obtenirTypeAnimal(unAnimal.idTypeAnimal)}}</ion-label>
      <!--<ion-button (click)="supprimerAnimal(unAnimal)">Supprimer</ion-button>-->
    </ion-item>
  </ion-list>
  <ion-label *ngIf="listeAnimaux && listeAnimaux.length === 0">Aucun animal</ion-label>

</ion-content>
