<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Clinique Vétérinaire
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-button color="primary">Ajouter client</ion-button>
  </ion-card>
    *ngFor="let client of listeClients"
    <ion-card (click)="naviguerClient(client.id)">
      <ion-item>Prénom : {{client.prenom}}</ion-item>
      <ion-item>Nom : {{client.nom}}</ion-item>
      <ion-item>Téléphone : {{client.telephone}}</ion-item>
      <ion-item>Latitude : {{client.latitude}}</ion-item>
      <ion-item>Longitude : {{client.longitude}}</ion-item>
    </ion-card>
</ion-content>