<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Clinique Vétérinaire
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-button color="primary" (click)="appelerModalAjouterClient()">Ajouter client</ion-button>
  </ion-card>
    <ion-item *ngFor="let unClient of listeClients">    
  <ion-card (click)="naviguerClient(unClient.id)">
      <ion-item>Prénom : {{unClient.prenom}}</ion-item>
      <ion-item>Nom : {{unClient.nom}}</ion-item>
      <ion-item>Téléphone : {{unClient.telephone}}</ion-item>
      <ion-item>Latitude : {{unClient.latitude}}</ion-item>
      <ion-item>Longitude : {{unClient.longitude}}</ion-item>
    </ion-card></ion-item>
</ion-content>