<ion-menu side="start" content-id="menuAccueil">
  <ion-header>
      <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
      </ion-toolbar>
  </ion-header>
  <ion-content>
      <ion-list>
          <ion-item >
              <ion-icon name="list" slot="start"></ion-icon>
              <ion-label>Animaux</ion-label>
          </ion-item>
          <ion-item (click)="appelerModalAjouterClient()">
            <ion-icon name="add" slot="start"></ion-icon>
            <ion-label>Ajouter un client</ion-label>
          </ion-item>
      </ion-list>
  </ion-content>
</ion-menu>
<ion-header id="menuAccueil" color="primary">
  <ion-toolbar>
    <ion-button slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-button>
    <ion-title class="ion-text-center">
      Vétérinaire
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group>
    <ion-accordion *ngFor="let unClient of listeClients">
      <ion-item slot="header">
        <ion-label>{{unClient.prenom}} {{unClient.nom}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Téléphone : {{unClient.telephone}}
      </div>
      <div class="ion-padding" slot="content">
        Coordonnées : {{unClient.geolocalisation}}
      </div>
      <div class="ion-padding" slot="content">
        <ion-button (click)="appelerListeAnimaux(unClient)">Liste animaux</ion-button>
        <ion-button (click)="appelerAjouterAnimal(unClient)">Ajouter animal</ion-button>
        <ion-button (click)="appelerModalModifierClient(unClient)">Modifier client</ion-button>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
